
    .nav{

    }
    #logo{
      width: 200px;
      height: auto;
    }
    #search{
      padding: 2rem;
      margin: auto;
      font-size: 28px;
      display: flex;
      color: blue;
    }
    button{
      background-color: gray;
      padding: 0.25rem;

    }
    button:hover{
      background-color: grey;
      border: 1px solid black;
      color: white;
    }
    #viewed-jobs{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      padding: 1rem;
      margin: 1%;
      justify-content: center;
      align-items: center;
    }